.summary-card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: 100%;
}

.summary-card h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

/* ITEMS */
.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.left img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  background: #fff;
}

.name {
  font-size: 13px;
}

.qty {
  font-size: 11px;
  color: var(--text-color);
  opacity: 0.6;
}

.price {
  font-weight: 500;
}

/* DIVIDER */
.divider {
  height: 1px;
  background: var(--border-color);
  margin: 15px 0;
}

.totals {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: bold;
  font-size: 16px;
}