.footer {
  background: #111;
  color: #fff;
  padding: 40px 20px 20px;
  margin-top: 50px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section li {
  font-size: 14px;
  color: #ccc;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
  cursor: pointer;
}

.footer-section li:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #aaa;
}


@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}