/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
/* @custom-variant dark (&:where(.my-app-dark, .my-app-dark *)); */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* background: #f8f8f8; */
  background-color: var(--bg-color);
  color: var(--text-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1; 
}

:root {
  --bg-color: #f8f8f8;
  --text-color: #000000;
  --card-bg: #ffffff;
  --primary: #fff;
  --primary-hover: #ccc;
  --button-text: #000;
  --radio-color: #000; 
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --primary: #fff;
  --primary-hover: #ccc;
  --button-text: #000;
   --radio-color: #fff;
}

.p-inputtext {
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--border-color) !important;
}

input[pInputText] {
  background: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
